.kaka {
    border-width: 10px;
    width: 100%;
}.btnclr{
     background-color:dodgerblue;
 }


.btn-wide {
    width: 100%;
    margin-top: 20px;
    
}

.oborder {
    border: 2px solid red;
    min-width: 100%;
}

.padding {
    margin-top: 20px;
    
}
.fizzbuzz{
    color: forestgreen;
    font-size: large;
}
.buzz {
    color: blue;
}
.fizz {
    color: red;
}
.sectionpadding {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0px;
    
}
.lcontainer {
    position: relative;
    width: 50%;
}

.limage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.lmiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.lcontainer:hover .limage {
    opacity: 0.3;
}

.lcontainer:hover .lmiddle {
    opacity: 1;
}

.ltext {
    background-color: black;
    color: white;
    font-size: 20px;
    font-style:italic;
    padding: 16px 32px;
}
.dbba {
    width: 400px;
}
.vich{
    padding-left:100px;
}
.indexpic {
    max-height: 100px !important;
    max-width: 100px !important;
    margin-left:120px;
}


